/* googke font */
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

:root {
    --bg-body: hsl(0, 0%, 95%);
    --font-family: "DM Sans", sans-serif;
}

* {
    font-family: var(--font-family);
    font-optical-sizing: auto;
    font-style: normal;

    margin: 0;
    padding: 0;
}

body {
    background-color: var(--bg-body);
    font-family: var(--font-family);
}

a {
    text-decoration: none;
}

.contenedor {
    width: 90%;
    max-width: 800px;
    margin: auto;
}

/* estilos del header */
header {
    padding: 40px 0;
}

header .logo {
    text-align: center;
    margin-bottom: 40px;
}

header .logo p {
    color: hsl(0, 0%, 61%);
}

header form {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

header .barra-busqueda {
    width: 70%;
    height: 40px;
    line-height: 40px;
    padding: 0 20px;
    border-radius: 100px;
    text-align: center;
    font-size: 1em;
    border: none;
}

header .categorias {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

header .categorias a {
    color: hsl(0, 0%, 61%);
    margin: 10px 20px;
    font-size: 1.1em;
    font-weight: 700;
}

header .categorias a.activo {
    color: hsl(0, 0%, 0%);
}

/* stilos del grid */

.grid {
    position: relative;
    width: 100%;
    opacity: 0;
    transition: opacity 0.5s linear 1s;

    &.imagenes-cargadas {
        opacity: 1;
    }
}

.grid .item {
    position: absolute;
    padding: 0;
    display: block;
    margin: 10px;
    width: calc(33.333333% - 20px);
}

.grid .item-contenido {
    position: relative;
}

.grid .item img {
    width: 100%;
    object-fit: cover;
    border-radius: 0.5em;
    cursor: pointer;
    vertical-align: top;
}

/* overlay */

.overlay {
    position: fixed;
    top: 0;
    left: 0;

    background-color: rgba(0, 0, 0, 0.9);
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    opacity: 0;
    pointer-events: none;
    transition: all 300ms ease-in;

}

/* se agregaron las aimaciones  */
.overlay.activo {
    opacity: 1;
    pointer-events: auto;
}

.overlay.activo img {
    transform: translateY(0);
    opacity: 1;
}

.overlay.activo p {
    transform: translateY(0);
    opacity: 1;
}

.overlay img {
    width: 100%;
    max-width: 300px;
    transform: translateY(-100px);
    transition: 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275) .7s;
    opacity: 0;
}

.overlay p {
    display: block;
    background-color: var(--bg-body);
    padding: 10px;
    text-align: center;
    border-radius: 0.4em;
    transform: translateY(100px);
    opacity: 0;
    transition: 300ms cubic-bezier(0.23, 1, 0.320, 1) .9s;
    margin-top: 1em;
    width: 50%;
}

.contenedor-img {
    position: relative;
}

#btn-cerrar-popup {
    background-color: transparent;
    font-size: 1.5em;
    color: var(--bg-body);
    border: none;
    cursor: pointer;
    position: absolute;
    right: -25px;
    top: -25px;
}

/* estyle footer */
footer .redes-sociales {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    flex-wrap: wrap;
}

footer .redes-sociales a {
    display: block;
    width: 60px;
    height: 60px;
    background-color: #000;
    color: #fff;
    margin: 20px;
    text-align: center;
    line-height: 60px;
    border-radius: 50%;
    transition: 200ms ease-in;
}

footer .redes-sociales .linkedin {
    background-color: hsl(221, 100%, 50%);
}

footer .redes-sociales .facebook {
    background-color: hsl(207, 91%, 38%);
}

footer .redes-sociales .instagram {
    background-color: hsl(325, 97%, 54%);
}

footer .redes-sociales a i {
    font-size: 1.5em;
}

footer .contenedor-icon:hover a {
    animation: icono .5s ease;
}

@keyframes icono {
    from {
        transform: rotate3d(0, 0, 0, 0);
    }

    to {
        transform: rotate3d(0, 1, 0, 360deg);
    }
}

footer .creado-por {
    margin-bottom: 40px;
    text-align: center;
    font-size: .8em;
    color: #c13584;
}

footer .creado-por a {
    color: #000;

    &:hover {
        text-decoration: underline;
    }
}

/* estilos responsives */

@media screen and (max-width: 700px) {
    .grid .item {
        width: calc(50% - 20px);
    }

    header .barra-busqueda {
        width: 100%;
    }
}